# K-Means Algorithm

In [10]:
import numpy as np
import pandas as pd
import random

In [2]:
## defining the variable

In [6]:
def generate_sample(n):
    data = np.random.rand(n,2)
    return data

In [50]:
def random_centroid(k,data):
    centroid = np.random.rand(k,2)
    for i in range(k):
        centroid[i] = np.min(centroid[i,:]) + (np.max(centroid[i,:]) - np.min(centroid[i,:])) * centroid[i,:]
    return centroid

In [170]:
def new_centroid(kmeans_iter):
    new_centroid = []
    for centroid in kmeans_iter[2].unique():
        data_check = kmeans_iter.loc[kmeans_iter[2]==centroid]
        centroid_point_1 = data_check[0].mean()
        centroid_point_2 = data_check[1].mean()
        centroid_iter = (centroid_point_1,centroid_point_2)
        new_centroid.append(centroid_iter)
    return new_centroid

In [206]:
def calculate_distance(data,centroid):
    k_result = []
    for i in range(len(data)):
        result = []
        for k in range(len(centroid)):
            distance = np.linalg.norm(data[i] - centroid[k])
            calculate = [k,distance]
            result.append(calculate)
        distance_calc = pd.DataFrame(result)
        min_distance = distance_calc.loc[distance_calc[1]==distance_calc[1].min()]
        min_k = min_distance.iloc[0,0] + 1
        distance = min_distance.iloc[0,1]
        k_data = [data[i][0],data[i][1],min_k,distance]
        k_result.append(k_data)
    kmeans_iter = pd.DataFrame(k_result)
    return kmeans_iter

In [213]:
def kmeans(data,k):
    min_tol = 10**(-6)
    max_iter = 100
    iter = 0
    tol = 0
    check_tol = False
    ssd_initial = 1000
    centroid = random_centroid(k,data)
    while (iter < max_iter) and (check_tol == False):
        kmeans_iter = calculate_distance(data,centroid)
        centroid = new_centroid(kmeans_iter)
        ssd = (kmeans_iter[3]**2).sum()
        tol = np.abs(ssd_initial - ssd)
        ssd_initial = ssd
        if tol < min_tol :
            check_tol = True
        else :
            check_tol = False
        iter = iter + 1
        print(tol,iter)
    return kmeans_iter,ssd,centroid

In [217]:
data = generate_sample(100)
k = 4
kmeans_result,ssd,centroid = kmeans(data,k)

986.8622490150846 1
6.413440166796478 2
0.5237295816762124 3
0.46983763200922457 4
0.34992674493364007 5
0.16336832691854575 6
0.1570856974429553 7
0.1008801878625123 8
0.12030565268131976 9
0.11919499072391027 10
0.0993310002108787 11
0.022116286183155864 12
0.0 13

In [218]:
kmeans_result

           0         1  2         3
0   0.967038  0.358473  1  0.125051
1   0.587187  0.638023  2  0.150861
2   0.045442  0.806879  3  0.190563
3   0.779916  0.123961  1  0.242035
4   0.531613  0.402881  4  0.259295
..       ...       ... ..       ...
95  0.728513  0.850060  2  0.120526
96  0.405682  0.142152  4  0.083155
97  0.921283  0.288476  1  0.105392
98  0.487653  0.187873  4  0.131570
99  0.429274  0.961810  2  0.267379

[100 rows x 4 columns]

In [219]:
centroid

[(0.8419885680063915, 0.35790060551069847),
 (0.6282379840785828, 0.7831910027802078),
 (0.17002714651259873, 0.6626822019268983),
 (0.3580056488763116, 0.21028244004115124)]

In [220]:
ssd

4.59853471747666