# K-Means Algorithm

In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
## defining the variable

In [3]:
def generate_sample(n):
    data = np.random.rand(n,2)
    return data

In [4]:
def random_centroid(k,data):
    centroid = np.random.rand(k,2)
    for i in range(k):
        centroid[i] = np.min(centroid[i,:]) + (np.max(centroid[i,:]) - np.min(centroid[i,:])) * centroid[i,:]
    return centroid

In [5]:
def new_centroid(kmeans_iter):
    new_centroid = []
    for centroid in kmeans_iter[2].unique():
        data_check = kmeans_iter.loc[kmeans_iter[2]==centroid]
        centroid_point_1 = data_check[0].mean()
        centroid_point_2 = data_check[1].mean()
        centroid_iter = (centroid_point_1,centroid_point_2)
        new_centroid.append(centroid_iter)
    return new_centroid

In [6]:
def calculate_distance(data,centroid):
    k_result = []
    for i in range(len(data)):
        result = []
        for k in range(len(centroid)):
            distance = np.linalg.norm(data[i] - centroid[k])
            calculate = [k,distance]
            result.append(calculate)
        distance_calc = pd.DataFrame(result)
        min_distance = distance_calc.loc[distance_calc[1]==distance_calc[1].min()]
        min_k = min_distance.iloc[0,0] + 1
        distance = min_distance.iloc[0,1]
        k_data = [data[i][0],data[i][1],min_k,distance]
        k_result.append(k_data)
    kmeans_iter = pd.DataFrame(k_result)
    return kmeans_iter

In [7]:
def kmeans(data,k):
    min_tol = 10**(-6)
    max_iter = 100
    iter = 0
    tol = 0
    check_tol = False
    ssd_initial = 1000
    centroid = random_centroid(k,data)
    while (iter < max_iter) and (check_tol == False):
        kmeans_iter = calculate_distance(data,centroid)
        centroid = new_centroid(kmeans_iter)
        ssd = (kmeans_iter[3]**2).sum()
        tol = np.abs(ssd_initial - ssd)
        ssd_initial = ssd
        if tol < min_tol :
            check_tol = True
        else :
            check_tol = False
        iter = iter + 1
        print(tol,iter)
        
    kmeans_iter.columns = ['point_1','point_2','label','distance']
    return kmeans_iter,ssd,centroid

In [8]:
data = generate_sample(100)
k = 4
kmeans_result,ssd,centroid = kmeans(data,k)

975.2920944800793 1
16.609206832532486 2
1.9406713422973105 3
0.5885510686455389 4
0.5801524745260842 5
0.4314653434997746 6
0.05395068292899374 7
0.24753022431108107 8
0.17143403358904585 9
0.0549282502469115 10
0.055856559956010354 11
0.015394356797320707 12
0.008937962093310325 13
0.01402781546998666 14
0.01493415947061294 15
0.005225970142000769 16
0.0 17

In [9]:
kmeans_result

     point_1   point_2  label  distance
0   0.155996  0.624646      1  0.123925
1   0.411776  0.542219      1  0.246539
2   0.006244  0.755500      1  0.235117
3   0.733468  0.954725      2  0.170609
4   0.219159  0.578464      1  0.140183
..       ...       ...    ...       ...
95  0.707481  0.469721      4  0.208089
96  0.969184  0.342048      4  0.215483
97  0.247766  0.919747      1  0.202628
98  0.701247  0.025248      4  0.253247
99  0.565798  0.289955      4  0.201272

[100 rows x 4 columns]

In [10]:
centroid

[(0.23824411485688532, 0.7173423685939985),
 (0.7435670499924024, 0.7844156205084704),
 (0.26005244658154625, 0.24037101145625595),
 (0.7660835139340311, 0.27005394796145304)]

In [11]:
ssd

3.9156384434142733